@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

colorpicker[type="button"]{
	-moz-appearance:none!important;
	outline-color:transparent;
	width:28px;
	height:24px;
	border:2px solid;
	margin:2px;
	-moz-border-top-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-left-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-right-colors:ThreeDDarkShadow ThreeDShadow;
	-moz-border-bottom-colors:ThreeDDarkShadow ThreeDShadow;
	background:url(chrome://global/skin/menu-bg.png)}
colorpicker[type="button"]:focus{
	box-shadow:0 0 0 2px #CCCCFF}
colorpicker[type="button"]:hover{
	box-shadow:1px 1px 2.5px -.5px graytext;
	background-color:#CCCCFF}
colorpicker[type="button"]:hover:active{
	box-shadow:inset 1px 1px 1px graytext;
	-moz-border-top-colors:threedshadow;
	-moz-border-left-colors:threedshadow;
	-moz-border-right-colors:ThreeDDarkShadow ThreeDHighLight;
	-moz-border-bottom-colors:ThreeDDarkShadow ThreeDHighLight;
	background-color:darkblue}
.colorpicker-button-colorbox{
	margin:2px;
	border:1px inset threedface}
.colorpicker-button-menupopup{
	border:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-left-colors:ThreeDShadow ThreeDHighLight;
	-moz-border-right-colors:ThreeDDarkShadow ThreeDShadow;
	-moz-border-bottom-colors:ThreeDDarkShadow ThreeDShadow}

.colorpickertile{
	width:24px;
	height:20px;
	border:0}
.colorpickertile[hover="true"]{
	border:2px solid;
	-moz-border-top-colors:ThreeDHighLight ThreeDFace;
	-moz-border-left-colors:ThreeDHighLight ThreeDFace;
	-moz-border-right-colors:ThreeDDarkShadow ThreeDShadow;
	-moz-border-bottom-colors:ThreeDDarkShadow ThreeDShadow}
.colorpickertile[selected="true"]{
	border:3px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDDarkShadow white;
	-moz-border-left-colors:ThreeDShadow ThreeDDarkShadow white;
	-moz-border-right-colors:ThreeDHighLight ThreeDHighLight white;
	-moz-border-bottom-colors:ThreeDHighLight ThreeDHighLight white}
.cp-light[selected="true"]{
	border:3px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDDarkShadow black;
	-moz-border-left-colors:ThreeDShadow ThreeDDarkShadow black;
	-moz-border-right-colors:ThreeDHighLight ThreeDHighLight black;
	-moz-border-bottom-colors:ThreeDHighLight ThreeDHighLight black}
