@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);
@namespace html url(http://www.w3.org/1999/xhtml);

textbox{
	border:2px solid;
	-moz-border-top-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-left-colors:ThreeDShadow ThreeDDarkShadow;
	-moz-border-right-colors:ThreeDHighLight ThreeDShadow;
	-moz-border-bottom-colors:ThreeDHighLight ThreeDShadow;
	margin:1px 2px;
	padding:0;
	background:-moz-Field;
	color:-moz-FieldText}
textbox[disabled="true"]{
	cursor:default;
	background:none!important;
	color:graytext!important;
	text-shadow:1px 1px 1px threedhighlight}
.textbox-inline-edit{
	border:1px solid threeddarkshadow!important;
	margin:0!important}
textbox[readonly="true"]{
	background-color:-moz-Dialog;
	color:-moz-DialogText}
textbox.plain{
	border-width:0!important}
textbox[empty="true"],
textbox[isempty="true"]{
	color:GrayText!important}

.textbox-input-box{
	margin:0;
	border-radius:inherit}

html|*.textbox-input,
html|*.textbox-textarea{
	-moz-appearance:none;
	cursor:text;
	outline-width:0;
	margin:0;
	padding:1px;
	font:inherit;
	line-height:normal;
	text-shadow:inherit;
	border-radius:inherit;
	border-width:0;
	background:none;
	color:inherit}
html|*.textbox-input:focus,
html|*.textbox-textarea:focus{
	box-shadow:inset 0 0 0 1px #CCCCFF}

.searchbar-textbox,
textbox[type="search"]{
	border-radius:5px}
.searchbar-textbox>hbox>.textbox-input-box,
textbox[type="search"]>.textbox-input-box{
	border-radius:3px}

.textbox-search-icons{
	cursor:auto;
	padding:1px;
	border-radius:0 3px 3px 0;
	border:1px solid transparent;
	-moz-border-start-color:threedshadow;
	background:-moz-dialog url(chrome://global/skin/menu-bg.png)}	
.textbox-search-icons:-moz-locale-dir(rtl){
	border-radius:3px 0 0 3px}
.textbox-search-icons:hover{
	border:1px outset threedface;
	background-color:#CCCCFF}
.textbox-search-icons:hover:active{
	border-style:inset;
	background-color:Highlight}
.textbox-search-icon{
	transform:scale(.8);
	list-style-image:url(chrome://global/skin/global.png);
	-moz-image-region:rect(64px 16px 80px 0)}
.textbox-search-icon[disabled="true"]{
	filter:opacity(.4) grayscale(1)}
.textbox-search-clear{
	background:-moz-image-rect(url(chrome://global/skin/global.png),177,31,191,17) center no-repeat}
.textbox-search-icons:hover>.textbox-search-clear{
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),224,32,240,16)}
.textbox-search-icons:hover:active>.textbox-search-clear{
	background-image:-moz-image-rect(url(chrome://global/skin/global.png),113,31,127,17)}

.textbox-search-icon[searchbutton]:not([disabled="true"]){cursor:pointer}
.textbox-search-clear:not([disabled="true"]){cursor:default}

.tree-input,
.tree-input html|*.textbox-input{margin:0!important}

.textbox-contextmenu{cursor:default}

html|*.textbox-input::-moz-placeholder,
html|*.textbox-textarea::-moz-placeholder{
	opacity:.6!important;
	font-style:italic}
