@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbar{
	min-width:1px;
	min-height:18px;
	-moz-box-align:center;
	background-image:url(chrome://global/skin/toolbar-bg.png);
	background-size:contain}
menubar,
toolbar[mode="text"]{
	min-width:1px;
	min-height:10px;
	background-image:url(chrome://global/skin/menu-bg.png)}
toolbar>menubar,
toolbaritem>menubar{
	background-image:none}

toolbarspacer{width:13px}

toolbarseparator{
	width:2px;
	height:14px;
	margin:1px;
	border-radius:2px;
	border:1px inset threedface}
toolbar[orient="vertical"] toolbarseparator{
	width:14px;
	height:2px}

toolbarpaletteitem{cursor:-moz-grab}
toolbarpaletteitem[mousedown]{
	cursor:-moz-grabbing;
	box-shadow:1px 1px 2px graytext,2px 2px 4px graytext}
toolbarpaletteitem:hover{
	box-shadow:1px 1px 2px graytext;
	background-color:#CCCCFF}

toolbarpaletteitem[dragover="left"]{margin-left:-2px;border-left:2px solid -moz-dialogtext}
toolbarpaletteitem[dragover="right"]{margin-right:-2px;border-right:2px solid -moz-dialogtext}

.toolbarpaletteitem-box{
	-moz-box-align:center;
	-moz-box-pack:center}
#palette-box>toolbarpaletteitem{
	height:55px!important;
	padding:2px;
	border-radius:5px;
	border:1px solid transparent}
#palette-box>toolbarpaletteitem:hover{
	border-color:threedhighlight threedshadow threedshadow threedhighlight}

toolbarpaletteitem>toolbarspring,
toolbarpaletteitem>toolbarspacer{
	height:18px;
	min-width:13px;
	max-width:13px;
	border:1px dotted graytext}
toolbarpaletteitem>toolbarspring{
	min-width:32px;
	max-width:none;
	background:url(chrome://global/skin/icons/spring.png) no-repeat center}

/* For SM */
.collapsed-tray-holder{height:8px;background-color:-moz-Dialog}
.toolbar-box{-moz-box-align:stretch}
.toolbar-holder{-moz-box-align:center}
toolbargrippy{
	border-radius:5px 5px 0 0;
	background:url(chrome://global/skin/toolbar-grippy.png) top center no-repeat;
	width:12px}
toolbargrippy[tbgrippy-collapsed="true"]{
	border-radius:5px 0 0 5px;
	background:url(chrome://global/skin/toolbar-grippy-collapsed.png) center left no-repeat;
	height:8px;
	width:24px}
toolbargrippy:hover{background-color:#CCCCFF}
toolbargrippy:hover:active{background-color:highlight}
