@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

toolbarbutton{
	min-width:20px;
	-moz-box-align:center;
	-moz-box-pack:center;
	vertical-align:middle;
	padding:0;
	margin:2px 1px;
	-moz-outline-radius:7px;
	outline-color:transparent;
	border-radius:5px;
	border:1px solid transparent;
	background:none;
	color:inherit}

toolbar[mode="full"][iconsize="large"] toolbarbutton:not([type="menu-button"]){
	-moz-box-orient:vertical}
toolbar:-moz-any([mode="text"],[iconsize="small"]) toolbarbutton:not([type="menu-button"]){
	padding:1px!important}

.toolbarbutton-icon{margin:1px}
.toolbarbutton-text{margin:0 1px}

.toolbarbutton-text:not([value]),
.toolbarbutton-text[value=""],
toolbar[mode="icons"] .toolbarbutton-text,
toolbar[mode="text"] .toolbarbutton-icon{
	display:none}

toolbar[iconsize="small"]>toolbarbutton>dropmarker>.dropmarker-icon,
toolbar[iconsize="small"]>*>toolbarbutton>dropmarker>.dropmarker-icon{
	-moz-transform:scaleY(.75)}

toolbarbutton[type="menu"]{
	border-bottom-left-radius:0}

toolbarbutton[type="menu-button"]{
	background:none!important;
	-moz-box-align:stretch;
	-moz-box-orient:horizontal!important}
.toolbarbutton-menubutton-button{
	margin:0;
	border-width:0;
	border-inline-end:1px solid transparent}
toolbarbutton:hover>.toolbarbutton-menubutton-button,
toolbarbutton[open="true"]>.toolbarbutton-menubutton-button{
	border-inline-end:1px outset threedface}
.toolbarbutton-menubutton-button:hover:active{
	border-inline-end:1px inset threedface}

.toolbarbutton-menubutton-dropmarker{
	border-width:0;
	border-inline-start:1px solid transparent}
toolbarbutton:hover:not([open="true"]):not([checked="true"])>.toolbarbutton-menubutton-dropmarker{
	border-inline-start:1px outset threedface}
toolbarbutton[open="true"]>.toolbarbutton-menubutton-dropmarker,
.toolbarbutton-menubutton-dropmarker:hover:active{
	border-inline-start:1px inset threedface}

.toolbarbutton-menubutton-button:-moz-locale-dir(ltr),
.toolbarbutton-menubutton-dropmarker:-moz-locale-dir(rtl){
	border-radius:4px 0 0 4px}
.toolbarbutton-menubutton-dropmarker:-moz-locale-dir(ltr),
.toolbarbutton-menubutton-button:-moz-locale-dir(rtl){
	border-radius:0 4px 4px 0}

toolbarbutton:not([disabled="true"]):not([checked="true"]):not([open="true"]):hover{
	box-shadow:0 0 1px threeddarkshadow;
	border-color:threedhighlight threedshadow threedshadow threedhighlight}

toolbarbutton:not([disabled="true"]):not([checked="true"]):not([open="true"]):hover:active,
toolbarbutton[checked="true"]{
	box-shadow:inset 1px 1px 3px threeddarkshadow;
	border-color:threedshadow threedhighlight threedhighlight threedshadow!important}

toolbarbutton[open="true"]{
	border-color:threedshadow threedhighlight threedhighlight threedshadow!important}

toolbarbutton[buttonover="true"]:not([open="true"])>.toolbarbutton-menubutton-dropmarker,
toolbarbutton[buttonover="true"]:hover:not([open="true"])>.toolbarbutton-menubutton-dropmarker,
toolbarbutton:hover>.toolbarbutton-menubutton-button{
	background:-moz-Dialog url(chrome://global/skin/menu-bg.png);
	color:-moz-DialogText}

toolbarbutton:not([open="true"]):hover,
toolbarbutton:not([open="true"])[buttonover="true"]>.toolbarbutton-menubutton-button,
toolbarbutton:not([open="true"]):hover:not([buttonover="true"])>.toolbarbutton-menubutton-dropmarker{
	background:#CCCCFF url(chrome://global/skin/menu-bg.png);
	color:black}

toolbarbutton:hover:active:not([type="menu"]),
toolbarbutton[type="menu"][open="true"],
.button-appmenu[open="true"],
toolbarbutton[open="true"]>.toolbarbutton-menubutton-dropmarker,
toolbarbutton[checked="true"]:hover:active,
.toolbarbutton-menubutton-button:hover:active,
.toolbarbutton-menubutton-dropmarker:hover:active{
	box-shadow:inset 1px 1px 3px threeddarkshadow;
	background:Highlight url(chrome://global/skin/menu-bg.png);
	color:HighlightText}

toolbar[mode="full"] toolbarbutton:hover>.toolbarbutton-menubutton-button,
toolbar[mode="full"] toolbarbutton:not([open="true"])[buttonover="true"]>.toolbarbutton-menubutton-dropmarker,
toolbar[mode="full"] toolbarbutton:not([open="true"])[buttonover="true"]:hover>.toolbarbutton-menubutton-dropmarker,
toolbar[mode="full"] toolbarbutton:not([open="true"]):hover,
toolbar[mode="full"] toolbarbutton:not([open="true"])[buttonover="true"]>.toolbarbutton-menubutton-button,
toolbar[mode="full"] toolbarbutton:not([open="true"]):hover:not([buttonover="true"])>.toolbarbutton-menubutton-dropmarker,
toolbar[mode="full"] toolbarbutton:hover:active:not([type="menu"]),
toolbar[mode="full"] toolbarbutton[type="menu"][open="true"],
toolbar[mode="full"] toolbarbutton[open="true"]>.toolbarbutton-menubutton-dropmarker,
toolbar[mode="full"] toolbarbutton[checked="true"]:hover:active,
toolbar[mode="full"] .toolbarbutton-menubutton-button:hover:active,
toolbar[mode="full"] .toolbarbutton-menubutton-dropmarker:hover:active{
	background-image:url(chrome://global/skin/toolbar-bg.png)}

toolbarbutton[checked="true"]{
	box-shadow:inset 1px 1px 2px threedshadow;
	background-image:url(chrome://global/skin/menu-bg.png);
	background-size:cover}

toolbarbutton[disabled="true"],
.toolbarbutton-menubutton-button[disabled="true"],
.toolbarbutton-menubutton-dropmarker[disabled="true"]{
	opacity:1!important;
	border-color:transparent!important;
	box-shadow:none!important;
	background:none!important;
	color:graytext!important;
	text-shadow:1px 1px 1px threedhighlight}

toolbarbutton[disabled="true"]>.toolbarbutton-icon,
toolbarbutton[disabled="true"]>*>.toolbarbutton-icon,
toolbarbutton[disabled="true"]>*>*>.toolbarbutton-icon{
	filter:opacity(.4) grayscale(1)}

toolbarbutton.toolbar-text-button:hover:active{color:HighlightText!important}
.toolbarbutton-menubutton-button:hover{box-shadow:none!important}


toolbarbutton[type="radio"]:not([autoCheck]):not(.share-provider-button){
	-moz-box-orient:horizontal!important;
	padding:0;
	margin:2px 0;
	border-radius:0;
	-moz-outline-radius:0;
	padding-inline-start:1px;
	padding-inline-end:3px;
	border-width:2px!important;
	-moz-border-top-colors:threedshadow threedhighlight;
	-moz-border-left-colors:threedshadow threedhighlight;
	-moz-border-right-colors:threedhighlight threedshadow;
	-moz-border-bottom-colors:threedhighlight threedshadow;
	background-image:url(chrome://global/skin/menu-bg.png);
	background-size:cover}

toolbarbutton[type="radio"]:not(.share-provider-button):first-of-type:-moz-locale-dir(ltr),
toolbarbutton[type="radio"]:not(.share-provider-button):last-of-type:-moz-locale-dir(rtl){
	margin-left:1px;
	border-radius:5px 0 0 5px;
	-moz-outline-radius:7px 0 0 7px}
toolbarbutton[type="radio"]:not(.share-provider-button):last-of-type:-moz-locale-dir(ltr),
toolbarbutton[type="radio"]:not(.share-provider-button):first-of-type:-moz-locale-dir(rtl){
	margin-right:1px;
	border-radius:0 5px 5px 0;
	-moz-outline-radius:0 7px 7px 0}

toolbarbutton[type="radio"]:not(.share-provider-button):not([autoCheck]):not(:last-of-type):-moz-locale-dir(ltr),
toolbarbutton[type="radio"]:not(.share-provider-button):not([autoCheck]):not(:first-of-type):-moz-locale-dir(rtl){
	-moz-border-right-colors:threedshadow transparent}
toolbarbutton[type="radio"]:not([autoCheck]):not(:first-of-type):-moz-locale-dir(ltr),
toolbarbutton[type="radio"]:not([autoCheck]):not(:last-of-type):-moz-locale-dir(rtl){
	-moz-border-left-colors:threedhighlight transparent}

toolbarbutton[type="radio"]:not(.share-provider-button):not([autoCheck]):not([disabled="true"]):not([checked="true"]):hover{
	-moz-border-right-colors:threeddarkshadow threedshadow!important; 
	-moz-border-bottom-colors:threeddarkshadow threedshadow!important}

toolbarbutton[type="radio"]:not(.share-provider-button):not([autoCheck]):not([disabled="true"]):not([checked="true"]):hover:active{
	-moz-border-top-colors:threeddarkshadow threedshadow!important;
	-moz-border-left-colors:threeddarkshadow threedshadow!important;
	-moz-border-right-colors:threedshadow threeddarkshadow!important;
	-moz-border-bottom-colors:threedshadow threeddarkshadow!important}

toolbarbutton[type="radio"][checked="true"]:not([autoCheck]):not(.share-provider-button){
	box-shadow:1px 1px 2px threedface inset,1px 1px 1px threedshadow inset;
	-moz-border-top-colors:threedshadow!important;
	-moz-border-left-colors:threedshadow!important;
	-moz-border-right-colors:threedhighlight!important;
	-moz-border-bottom-colors:threedhighlight!important;
	background:rgba(255,255,255,.5)!important;
	color:-moz-DialogText!important}
toolbarbutton[type="radio"][checked="true"]:not([autoCheck]):not(.share-provider-button):-moz-locale-dir(rtl){
	-moz-border-right-colors:threedshadow threedshadow!important;
	-moz-border-left-colors:threedhighlight threedhighlight!important;
	box-shadow:-1px 1px 2px threedface inset,-1px 1px 1px threedshadow inset}

.toolbarbutton-multiline-text,
toolbarbutton[wrap="true"]>.toolbarbutton-text{
	display:none}
toolbarbutton[wrap="true"]>.toolbarbutton-multiline-text{
	display:-moz-box}
	
.toolbarbutton-badge{
	-moz-stack-sizing:ignore;
	font-size:10px;
	font-weight:bold;
	margin:-3px 0 0!important;
	margin-inline-end:-4px!important;
	min-width:14px;
	max-width:34px;
	line-height:10px;
	text-align:center;
	border-radius:3px;
	box-shadow:1px 1px 1px threedshadow, 1px 1px 1px threedhighlight inset;
	background-color:darkred;
	color:white}
