@import url(chrome://global/skin/cutemenu.css);
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

#main-window[tabsontop=true]:after {
  display: none !important;
}

#titlebar-content:-moz-window-inactive,
:root>#appmenu-button-container:-moz-window-inactive,
toolbox:-moz-window-inactive{
	opacity:.7}
toolbox:-moz-window-inactive:-moz-system-metric(windows-compositor){
	opacity:.9}

:root[chromemargin]{background:-moz-dialog linear-gradient(180deg,-moz-dialog,threedshadow 45px) top left repeat-x}
:root[chromemargin]:not([inFullscreen="true"]):not([sizemode="maximized"])>#titlebar{
	border-top:2px solid;
	-moz-border-top-colors:-moz-Dialog threedhighlight}
:root[chromemargin][lwtheme="true"]{
	background:none}

:root[chromemargin] toolbar:not([autohide="true"]){
	-moz-binding:url(chrome://global/content/bindings/toolbar.xml#toolbar-drag)}

:root[chromemargin][tabsontop="true"]>#titlebar{margin-bottom:-27px}

:root[chromemargin][tabsontop="true"]>#tab-view-deck[selectedIndex="1"]{margin-top:26px}

:root[chromemargin][chromehidden~="toolbar"][tabsontop="true"] #navigator-toolbox{
	-moz-padding-start:90px;
	-moz-padding-end:72px}
:root[chromemargin][chromehidden~="toolbar"][tabsontop="true"] #titlebar-buttonbox{
	margin-top:0!important}

:root[chromemargin] #TabsToolbar[collapsed="true"][tabsontop="true"]{
	visibility:visible}
	
:root[chromemargin] #TabsToolbar[tabsontop="true"]:not([inFullscreen="true"]){
	-moz-padding-start:110px;
	-moz-padding-end:72px;
	background:none;
	-moz-box-ordinal-group:1!important}
	
toolbar:not(#TabsToolbar):not(#toolbar-menubar){background-color:-moz-dialog}

/* Make sure that nav-bar and PersonalBar are always above the other toolbars */
#nav-bar{-moz-box-ordinal-group:40!important}
#navigator-toolbox[tabsontop="false"]>#PersonalToolbar,
#navigator-toolbox[tabsontop="false"]>#PersonalToolbar[collapsed="true"]+toolbar+#stumbleupon,
#PersonalToolbar[collapsed="true"]{
	-moz-box-ordinal-group:45}

/* Round top corners on Vista/7/8, but not Win10 because it's flush against the window edge */
@media (-moz-os-version: windows-vista),
(-moz-os-version: windows-win7),
(-moz-os-version: windows-win8) {
#main-window[sizemode="normal"] #navigator-toolbox[tabsontop="false"]>#PersonalToolbar,
#main-window[sizemode="normal"] #navigator-toolbox[tabsontop="false"]>#PersonalToolbar[collapsed="true"]+toolbar+#stumbleupon,
#main-window[sizemode="normal"] #PersonalToolbar[collapsed="true"]{
	border-radius:5px 5px 0 0}
}
	
@media (min-width:500px){
/* winxp: 18px (but no easy to detect winxp); classic: 20px; basic: 22px; compositor/glass: 22px; win8 (compositor, but not glass): 20px */
/* Try to move menubar in window frame */
#navigator-toolbox[tabsontop="false"]:not([inFullscreen="true"])>#toolbar-menubar[autohide="true"]:not([inactive="true"]){
	margin-top:-26px;
	margin-bottom:4px;
	-moz-padding-start:90px!important;
	-moz-padding-end:72px!important;
	background-image:none}

/* For classic or Windows 8 */
#navigator-toolbox[tabsontop="false"]:not([inFullscreen="true"])>#toolbar-menubar[autohide="true"]:not([inactive="true"]):-moz-system-metric(windows-classic),
#navigator-toolbox[tabsontop="false"]:not([inFullscreen="true"])>#toolbar-menubar[autohide="true"]:not([inactive="true"]):-moz-system-metric(windows-compositor):not(:-moz-system-metric(windows-glass)){
	margin-top:-24px}

/* For compositor */
#navigator-toolbox[tabsontop="false"]:not([inFullscreen="true"])>#toolbar-menubar[autohide="true"]:not([inactive="true"]):-moz-system-metric(windows-compositor){
	margin-top:-22px;
	margin-bottom:0;
	-moz-border-end-width:0!important;
	-moz-padding-end:120px!important}
}

@media (-moz-windows-classic) {
  #main-window[sizemode="normal"] > #titlebar > #titlebar-content > #appmenu-button-container {
    margin-top: 4px;
  }
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

#main-window[sizemode="maximized"] #titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box-maximized;
}

.titlebar-placeholder[type="appmenu-button"] {
  margin-left: 4px;
}

.titlebar-placeholder[type="caption-buttons"] {
  margin-left: 22px; /* additional space for Aero Snap */
}

/* titlebar command buttons */

#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}

@media not all and (-moz-windows-classic) {
  #titlebar-min {
    -moz-margin-end: 2px;
  }
}

@media (-moz-windows-compositor) {
  /* Fix borders because of Vista/7 versus 8/10+ */
  #main-window:not([inFullscreen="true"]):not([windowtype="devtools:scratchpad"]) {
    -moz-appearance: -moz-win-glass;
  }
  
  /* On win 10, if we don't set this on the entire browser container, including
  * the sidebar, then the accent color bleeds through in the titlebar
  * if the sidebar is open. */
  #browser {
    -moz-appearance: -moz-win-exclude-glass;
  }
  
  @media (-moz-os-version: windows-vista),
         (-moz-os-version: windows-win7),
         (-moz-os-version: windows-win8) {
    /* Make sure the native margins are correct on Win Vista/7/8.
     * We can't use -moz-win-glass there because the border sizing would
     * not be correct. */
    #main-window:not([inFullscreen="true"]):not([windowtype="devtools:scratchpad"]) {
      -moz-appearance: -moz-win-borderless-glass;
	  background: transparent;
    }
	
	/* These should be hidden w/ glass enabled. Windows draws its own buttons. */
    .titlebar-button {
      display: none;
    }
  
  /* The borders on the glass frame are ours, and inside #browser, and on
  * vista and win7 we want to make sure they are "glassy", so we can't use
  * #browser as the exclude-glass container. We use #appcontent instead. */
    #browser {
      -moz-appearance: none;
    }
  
    #appcontent {
      -moz-appearance: -moz-win-exclude-glass;
    }
  } 
   
  @media (-moz-os-version: windows-win10) {
    #main-window:not(:-moz-lwtheme):after {
      color: black !important;
    }
  }
   
  #main-window[sizemode="maximized"] #titlebar-buttonbox {
    -moz-margin-end: 3px;
  }
}

@media not all and (-moz-windows-glass) {
	@media not all and (-moz-os-version: windows-win8) {
		.titlebar-button {
			-moz-appearance: none !important;
		}
		
		#main-window[sizemode=maximized] .titlebar-button {
			margin-top: 8px !important;
		}
	}
}

:root[tabsontop="true"] #aero-titlebar-stack{
	visibility:hidden}

:root[tabsontop="true"] #appmenu-button-container{
	position:relative;
	width:8em}

:root[tabsontop="true"] #titlebar-spacer{
	position:relative;
	z-index:-1}

#titlebar-buttonbox{-moz-appearance:none!important}
#titlebar-buttonbox-container{
	display:-moz-box!important;
	position:fixed!important;
	top:0;
	right:0;
	-moz-box-orient:horizontal;
}

#appmenu-button{
	position:relative;
	margin:0 0 6px 0;
	padding:0 3px;
	font-weight:bold;
	font-size:105%;
	border-radius:0 0 5px 5px;
	border:1px outset threedface;
	border-top-width:0;
	box-shadow:0 0 1px graytext;
	background-color:-moz-Dialog;
	text-shadow: none;
	color:-moz-DialogText}
#appmenu-button:hover{
	box-shadow:1px 1px 2px graytext;
	background-color:#CCCCFF;
	color:black}
#appmenu-button[open="true"]{
	box-shadow:1px 1px 2px graytext;
	background-color:-moz-dialog;
	color:-moz-dialogtext}

#tabbrowser-tabs[tabsontop="true"]{position:relative}

@media not all and (-moz-windows-compositor) {
	#main-window[tabsontop=false]:not(:-moz-lwtheme):after {
		color: black !important;
		text-shadow: none !important;
		position: fixed !important;
		top: -13px !important;
	}
	#titlebar{
		margin-bottom:-21px!important;
		border-width:0!important}
	:root[sizemode="maximized"]>#titlebar{margin-bottom:-23px!important}
	:root[tabsontop="false"]>#titlebar{margin-bottom:3px!important}
	#main-window[sizemode="maximized"] #titlebar-buttonbox-container {
		margin-top: 2px !important}
	
	@media (-moz-windows-theme: aero) {
		#main-window[sizemode="maximized"] #titlebar {
			margin-top: 2px !important}
		#main-window[sizemode="maximized"] #titlebar-buttonbox {
			margin-top: 3px !important}
		#main-window[sizemode="maximized"][tabsontop=false]:after {
			margin-top: 5px !important}
	}
	@media (-moz-windows-classic) {
		#main-window[sizemode="maximized"] #titlebar {
			margin-top: 6px !important}
		#main-window[sizemode="normal"] #appmenu-button {
			margin-top: -3px !important}
		#main-window[sizemode="maximized"] #appmenu-button {
			margin-top: 0px !important}
	}
	@media (-moz-os-version: windows-xp) {
		#main-window[sizemode="maximized"] #titlebar-buttonbox {
			margin-top: -6px !important}
	}
}

:root[chromemargin][sizemode="maximized"] #appmenu-button{margin-top:2px;margin-bottom:4px}
:root[chromemargin][sizemode="maximized"]{margin-top:2px!important}
@media (-moz-windows-classic){
:root[chromemargin][sizemode="maximized"]{margin-top:-2px!important}
}
@media (-moz-windows-compositor){
:root[chromemargin]:-moz-system-metric(windows-glass) #appmenu-button{margin-top:2px!important}
:root[chromemargin][sizemode="maximized"]{margin-top:5px!important}
  
#appmenu-button-container{-moz-box-align:stretch!important}
#titlebar{
	margin-bottom:-21px!important;
	border-width:0!important;
	box-shadow:none!important;
	background:none!important}
:root[sizemode="maximized"]>#titlebar{margin-bottom:-25px!important}
:root[tabsontop="false"]>#titlebar{margin-bottom:-4px!important}

:root[chromemargin][tabsontop="true"]>#tab-view-deck[selectedIndex="1"]{margin-top:19px}
:root[chromemargin][sizemode="maximized"][tabsontop="true"]>#tab-view-deck[selectedIndex="1"]{margin-top:22px}

@media (-moz-os-version: windows-vista),          
  (-moz-os-version: windows-win7),          
  (-moz-os-version: windows-win8) {
	  
  :root[chromemargin] #TabsToolbar[tabsontop="true"]:not([inFullscreen="true"]){
	-moz-margin-end:7px;
	-moz-padding-end:0;
	-moz-border-end-width:0!important;
	-moz-padding-end:120px!important}

  :root[sizemode="normal"] #navigator-toolbox>toolbar,
  :root[sizemode="normal"] #appcontent{
  	-moz-border-start:1px inset threedface;
  	-moz-border-end:1px inset threedface}
  :root[sizemode="normal"] #sidebar-box{
	-moz-border-start:1px inset threedface}
	
  #browser-bottombox{
	background-color:rgba(255,255,255,.5)!important}
  #main-window[sizemode="normal"] #browser-bottombox{
    border-radius:0 0 5px 5px}
	
  :root[chromemargin][sizemode="normal"] #nav-bar[tabsontop="true"]:not([inFullscreen="true"]){
  	border-top-right-radius:9px}
}

#titlebar[hidden="true"]+#tab-view-deck #navigator-toolbox[tabsontop="true"]>#toolbar-menubar,
#navigator-toolbox[tabsontop="false"]>#toolbar-menubar,
#navigator-toolbox[tabsontop="false"]>#nav-bar,
#downbarHolder,
#FindToolbar,
#browser-bottombox>toolbar,
#sync-notifications>notification{
	border-width:0!important;
	background:none!important}

.tabbrowser-tabs[tabsontop="true"]>.tabbrowser-tab:not(:hover){
	opacity:1!important;
	background-color:rgba(255,255,255,.7)!important}
.tabbrowser-tabs[tabsontop="true"]>.tabbrowser-tab:not([selected="true"]):not(:hover){
	box-shadow:0 -1px 2px rgba(128,128,128,.2) inset}

#toolbar-menubar>*{
	margin-top:0;
	margin-bottom:0}

:root:not([chromemargin]) #toolbar-menubar>#menubar-items,
:root:not([chromemargin]) #toolbar-menubar>toolbarpaletteitem,
#toolbar-menubar>toolbarbutton:not(:hover),
#navigator-toolbox[tabsontop="false"]>#toolbar-menubar>#personal-bookmarks,
#navigator-toolbox[tabsontop="false"]>#toolbar-menubar>#forecastfox-toolbar{
	background-color:rgba(255,255,255,.7);
	border-radius:5px;
	text-shadow:1px 1px 2px white}
#navigator-toolbox[tabsontop="false"]>#toolbar-menubar[autohide="true"]>#menubar-items{
	border-radius:0 0 5px 5px;
	background:threedface url(chome://global/skin/menu-bg.png);
	box-shadow:-1px -1px threeddarkshadow inset,-2px -2px threedshadow inset}

.tabbrowser-tabs[tabsontop="true"] .tabs-newtab-button:not(:hover){
	opacity:.75!important;
	border-color:threedshadow threedhighlight transparent threedshadow!important;
	background:-moz-Dialog url(chrome://global/skin/menu-bg.png)!important}

toolbarbutton:hover:not([disabled="true"]),
#menubar-items>menubar>menu:hover:not([disabled="true"]),
.tabbrowser-tabs[tabsontop="true"] .tabs-newtab-button:hover,
#TabsToolbar[tabsontop="true"]>toolbarbutton:hover{
	opacity:1!important}

wizard,prefwindow,#printedit-options,
#openLocation,#places,#BrowserPreferences,#downloadManager,#aboutDialog,
#printPageSetupDialog,#genericAbout,#CustomizeToolbarWindow,#certmanager,
#certDetails,.scratchpad_propertyPanel,dialog[addontype="extension"],
window#facebook-photoupload,#stumble_pref_dialog,#editDialDialog,#editPluginDialDialog,
#pref-tabmix,#gadPrefs,#cooliris_options,#downbarprefs{
	-moz-appearance:-moz-win-borderless-glass;
	background-color:transparent!important}

#loadingAlbumsLabel{font-weight:bold;color:white}

#clientBox{
	border-radius:7px 7px 0 0;
	background:rgba(255,255,255,.7) none!important}
#bottomBox[id],
#TabsToolbar[tabsontop="true"],
#placesToolbar,#topBar,#TM_ButtonBox,.paneSelector{
	border-left-width:0!important;
	border-right-width:0!important;
	background:none!important}

#topBar>#viewGroup{
	margin:0}
#placesToolbar>toolbarbutton,
#placesMenu>menu,
#topBar>#viewGroup>radio,
.paneSelector>radio{
	margin:3px!important}
#placesMenu>menu>.menubar-left{
	margin:1px}
#topBar>#viewGroup>radio:first-child,
.paneSelector>radio:first-child{
	-moz-margin-start:0!important}
#topBar>#viewGroup>radio:last-child,
.paneSelector>radio:last-child{
	-moz-margin-end:0!important}
	
#placesToolbar>toolbarbutton:not(:hover):not([disabled="true"]),
#placesMenu>menu:not(:hover):not([selected="true"]),
.paneSelector>radio:not(:hover):not([selected="true"]),
#topBar>#viewGroup>radio:not(:hover):not([selected="true"]),
[tabsontop="false"]>#social-toolbar-item,
#palette-box{
	background:rgba(255,255,255,.7) none!important}

:root[chromehidden]>#main-box>#instructions,
:root[chromehidden]>#main-box>box>label,
:root[chromehidden]>#main-box>box>#smallicons:not(:hover){
	text-shadow:0 0 10px white,0 0 10px white,0 0 10px white,0 0 10px white,0 0 10px white}

#newtoolbar,#smallicons,#restoreDefault,donebutton{margin:0}

#extensionDetailsBox{
	margin:0!important;
	border-width:1px 0 0 0!important}

.paneSelector>radio:hover:not([selected="true"]){
	box-shadow:1px 1px 1px graytext!important;
	border:1px outset threedface!important;
	background-color:#CCCCFF}

.paneSelector>radio:hover:active:not([selected="true"]){
	box-shadow:inset 1px 1px 1px threedshadow!important;
	border:1px inset highlight!important;
	background-color:highlight}

#openLocation>.dialog-content-box{
	margin:2px;
	padding:2px;
	box-shadow:1px 1px 1px threedshadow inset;
	border-radius:7px;
	border:1px inset threedface;
	background-color:-moz-dialog}

#prefs_tabbox,
#certmanagertabs,
dialog>tabbox{
	background:none;
	border-width:0}
#prefs_tabbox>tabs,
#certMgrTabbox,
dialog>tabbox>tabs{
	background:none}

#prefs_tabbox>tabpanels,
#certmanagertabs>tabpanels,
dialog>tabbox>tabpanels{
	background:-moz-dialog;
	border-bottom:1px outset threedface;
	border-right:1px outset threedface}

#printedit-toolbar,
#print-preview-toolbar,
#heading-container{
	margin:0;
	border:1px inset threedface;
	border-bottom:0;
	border-radius:7px 7px 0 0;
	background:rgba(255,255,255,.7)}

#printPageSetupDialog>tabbox,
prefwindow[type="child"]>.paneDeckContainer{
	border-radius:0}

.wizard-header{
	opacity:1!important;
	border-radius:7px 7px 0 0;
	border:1px inset threedface;
	border-bottom-width:0;
	background-color:-moz-Dialog}

:root[chromemargin]>hbox,
#gadPrefs>hbox>tabbox,
#tabMixTabBox,
#cpvw_tabBox,
#downbarprefs>tabbox,
.paneDeckContainer{
	background-color:-moz-dialog}

.wizard-page-box,
#mainDeck{
	border-radius:0 0 7px 7px;
	border:1px inset threedface;
	background-color:-moz-Dialog}

#key-tree,
#imagetree{
	border-width:0 0 2px 0}

#placesView{
	border-radius:0 0 7px 7px;
	background-color:-moz-Dialog}

#mediaPreviewBox>.iframe{
	border-width:2px 0 0 0;
	border-radius:0 0 7px 7px}
	
#placesList{
	border-radius:0 0 0 7px}

#clearListButton,#search>#searchbox,.dialog-button-box{
	margin:6px 0 0 0!important}

.dialog-button,.wizard-button{
	margin-bottom:0;
	-moz-margin-start:4px;
	-moz-margin-end:0;
	border-radius:5px;
	-moz-outline-radius:7px}
.dialog-button:first-child,.wizard-button:first-child{
	-moz-margin-start:0}

#clearListButton{
	border-radius:5px;
	-moz-outline-radius:7px}

#trademark{
	color:white!important}

.bottom-link[href],
.bottom-link[href]:focus,
.bottom-link[onclick],
.bottom-link[onclick]:focus{
	outline-offset:-7px!important;
	box-shadow:0 0 2px rgba(255,255,255,.7),0 0 7px rgba(255,255,255,.7);
	background-color:rgba(255,255,255,.7)!important}
.bottom-link:not(:hover){
	text-decoration:none!important}

#updates{
	border-top:1px inset threedface}
.update-header{
	border-width:0;
	border-radius:0}
#updates>.wizard-page-box{
	border-radius:7px;
	border:1px inset threedface}
#updates wizardpage{
	border-radius:6px}

/*AIOS*/
#main-window[aiosLayout="true"],
#downloadManager[aiosLayout="true"]{
	-moz-appearance:none!important;
	background-color:-moz-Dialog!important}

#bookmarks-view[flex]:-moz-locale-dir(ltr),
#historyTree[flex]:-moz-locale-dir(ltr){
	border-left-width:0!important}
#bookmarks-view[flex]:-moz-locale-dir(rtl),
#historyTree[flex]:-moz-locale-dir(rtl){
	border-right-width:0!important}
} /* Aero End */
